
<div class="mx-auto" style="width: 600px; margin-top: 80px;">
<h1>welcome to <i class="fas fa-book"></i>Bookers !!</h1>

<h5>In<i class="fas fa-book"></i>Bookers,</h5>
<p>you can share and exchange your opinions , inpressions , and emotions</p>
<p>about various books!</p>
<ul>
  <%= link_to 'Log in', new_user_session_path, class:"btn btn-info btn-block" %>
</ul>
<ul>
  <%= link_to 'Sign up', new_user_registration_path, class:"btn btn-success btn-block" %>
</ul>
<p class="text-center">CopyRight Infratop.inc</p>
</div>